$main: #f8e00e;
$medium: #939599;
$hover: #f6f6f6; 
$deep: #eee;
$dark: #373948; 
$light: #fff;

$inplay: #28A74550;
$notStart: #DC354550;

$red: #d60000;

$blue: #0092d3;

$dark: $blue;
$main: #d9dadb;