.notResults{
    background: $light;
    margin-top: 1rem;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: #FFF;
    
    h3{
        text-align: center;
    }
}