.notResults{
    background: $light;
    margin: 1rem 0;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: #FFF;
    font-size: 16px;
    
    .h3{
        text-align: center;
        margin: 23px 0px;
        font-size: 1em;
    }
}