.result{
    background: $light;
    margin-top: 1rem;
    border-radius: 7px;
    overflow: hidden;

    .title{
        background: $dark;
        color: $light;
        padding: 5px 15px;
        border-radius: 7px 7px 0 0;
        
        h2{
            margin: 0;
            font-size: 20px;
        }

    }

    .list{
        margin:  0;
        padding: 0;

        li{
            list-style: none;
            display: flex;
            width: 100%;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            &:not(:last-child){
                border-bottom: 1px solid $deep;
            }

            .visit,.local{
                flex: 1 1 auto;
                width: 70px;
                box-sizing: border-box;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 12px;
                position: relative;

                @include sm {
                    width: 160px;
                }

                span{
                    position: absolute;
                    width: 40px;
                    box-sizing: border-box;
                    text-align: center;
                    height: 100%;

                    img{
                       width: 30px;
                       object-fit: scale-down;
                       position: absolute;
                       top: 50%;
                       left: 50%;
                       transform: translate(-50%, -50%);
                    }
                }
            }

            .local{
                padding: 0 40px 0 10px;
                text-align: left;
                span{
                    right: 0;
                }
            }

            .visit{
                padding: 0 10px 0 40px;
                text-align: left;
                span{
                    left: 0;
                }
            }

            .marker{
                background: $main;
                font-size: 20px;
                font-weight: bold;
                width: 80px;
                text-align: center;
                font-size: 16px;
            }

            .time{
                float: right;
                flex: 1 1 auto;
                text-align: center;
                font-size: 11px;
                padding-right: 4px; 

                @include sm {
                    font-size: 14px;
                    padding-right: 10px;
                }

                &.inplay{
                    background-color: $inplay;
                }

                &.notstarted{
                    background-color: $notStart;
                }

                &.finished{
                    background-color: #fff;
                }

                span{
                    width: auto;
                    box-sizing: border-box;
                    text-align: center;
                    margin-left: 5px;
                    display: none;

                    @include sm {
                        display: inline;
                    }
                }
            }
            
        }
    }
}