select{
    height: 30px;
    border-radius: 4px;
    font-weight: normal;
    outline: none;
    border: 1px solid $medium;
    width: 100%;
    max-width: 100%;

    @include sm {
        width: 50%;
        max-width: 200px;
    }
}