.sportData{
    padding: 20px;
    max-width: 500px;
    background: $deep;
    margin: 0 auto;
    border-radius: 9px;
}

.toolCalendar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.bardays{
    
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        height: 50px;
        margin: 0;        

        li{
            background: #fff;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            box-sizing: content-box;
            transition: 0.25s;
            justify-content: center;
            
            &:first-child{
                border-width: 0px 1px 0px 0px;
                border-style: solid;
                border-color: $deep;
            }

            &:last-child{
                border-width: 0px 0px 0px 1px;
                border-style: solid;
                border-color: $deep;
            }
            
            &:nth-child(3):nth-last-child(3){
                border-width: 2px 2px;
                border-style: solid;
                border-color: $main;
                //background: $main;
            }

            &:not(:first-child,:last-child){
                width: 80px;
                padding: 0 15px;
                &:hover{
                    box-shadow: inset 0 -4em 0 2px $main;
                }
            }

            h4,p{
                margin: 0;
                line-height: 1.2;
                text-align: center;
            }

            h4{
                font-size: 1rem;
                text-transform: capitalize;
            }

            p{
                font-size: 14px;
            }

        }
    }
}
